body{
background-color:#7870ff;
  text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 5rem;
}

.dice{
  display: inline-block;
  margin: 5%;
  margin-top: 0;
}

p{
  font-size: 2rem;

}

img{
  width: 70%;
}
#foot{
  font-size: 1.2rem;
}

a{
 text-decoration: none;
}
